body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.tag {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.tag:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
